@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Madimi+One&family=Rubik+Doodle+Shadow&display=swap');

body {
    font-family: "Madimi One";
    text-align: center; /* Center-align all content within the body */
    background-color: #4E4E56;
    color: #DCD0C0;
  }
 
  .line {
    width: 600px; /* Adjust length of the line */
    height: 1px; /* Adjust the height as needed */
    border-bottom: 1px solid #B1938B; /* Adjust the color and thickness of the line */
    position: absolute; /* Position the line relative to its containing block */
    left: 50%; /* Position the left edge of the line at the center of its containing block */
    transform: translateX(-50%); /* Center the line horizontally */
  }

  header {
    text-align: center; /* Center-align the content within the header */
  }

  header h1 {
    color: #DA635D; /* change title color */
  }
  
  header nav {
    display: inline-block; /* Make the nav element behave like an inline-block */
  }
  
  header nav ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  header nav ul li {
    display: inline-block; /* Display items horizontally */
    margin-right: 10px; /* Add some space between items */
  }

  header nav a:link {
    color: black; /* Change link color */
  }

  header nav a:hover {
    color: green; /* Change hover color */
  }

  header nav a:visited {
    color: yellow; /* Change link color if visited */
  }
  
  header h1 {
    margin-top: 0; /* Remove default margin from the top */
  }

  .info h2 {
    color: #B1938B; /* Change h2 color for info class */
  }

  .news h2 {
    color: #B1938B; /* Change h2 color for info class */
  }

  .server-info h2 {
    color: #B1938B; /* Change h2 color for server info class */
  }

  .info b {
    color: #DA635D; /* Change color for bold text in info class */
  }

  .news b {
    color: #DA635D; /* Change color for bold text in info class */
  }

  .server-info b {
    color: #DA635D; /* Change color for bold text in server info class */
  }

  footer {
    padding: 10px; /* Add spacing from the line (spacing on all sides) */
  }

  footer b {
    color: #DA635D; /* Change color for bold text in footer class */
  }